name: Camoufox Runner

on:
  workflow_dispatch: # للتشغيل اليدوي

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgbm1 libasound2

    - name: Install Camoufox & Playwright
      run: |
        pip install camoufox playwright
        # تحميل المتصفح الخاص بـ Camoufox
        python -m playwright install firefox
        python -m playwright install-deps firefox

    - name: Run Script
      run: python main.py

    - name: Save Result Screenshot
      uses: actions/upload-artifact@v4
      with:
        name: signup-screenshot
        path: google_signup.png
